{
    "token": "YOUR_TOKEN_HERE",

    "debug": {
        "enabled": true,
        "channel": "869049075364954184"
    },

    "covid": {
        "enabled":  true,

        "stats": {
            "enabled": true
        }
    }
}